<html lang="en">

<head>
    <title>Weather Application</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="https://image.flaticon.com/icons/svg/2893/2893120.svg" />

</head>

<body>
    <div class="main-content">
        {{> header}}

        <p>Use this site to get your weather!</p>
    </div>
    <form>

        <input type="text" placeholder="Please enter Address" />
        <button>Search</button>

    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    {{> footer}}
</body>

<script>
    console.log("browserscript");



    const form = document.querySelector("form");
    const search = document.querySelector("input");
    const messageOne = document.querySelector("#message-1");
    const messageTwo = document.querySelector("#message-2");

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        const location = search.value
        messageOne.textContent = "Loading...!";
        messageTwo.textContent = "";
        fetch(`/weather?address=${location}`)
            .then((response) => {
                response.json().then((data) => {
                    if (data.error) {
                        messageOne.textContent = data.error;
                        messageTwo.textContent = ""
                        messageOne.style.color = "red";
                    } else {
                        messageOne.textContent = data.location;
                        messageTwo.textContent = data.forecast;


                    }
                })
            })

    })


</script>




</html>